
.center {
    text-align: center;
}

.center button {
    background-color: #FFFFFF;
    color: black;
    height: 100px;
    width: 150 px;
}
.center h1 {
    font-size: xx-large;
    color: #FFFFFF;
}