
.center {
    text-align: center;
    vertical-align: center;
}

.center a {
    color: black;
    height: 100px;
    width: 150px;
    border: 1px solid white;
}
.center h1 {
    font-size: 45px;
    color: #FFFFFF;
}